Repository redhat-developer/rhdh-plugin-export-overlays, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidfestal, @gashcrumb, @kadel, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff, @rohitkrai03, @karthikjeeyar, @johnmcollier, @gabemontero, @eswaraiahsapram, @lucifergene, @PatAKnight, @dzemanov, @rm3l, @BethGriggs, @schultzp2020, @yangcao77, @batzionb, @mareklibra, @gciavarrini, @jessicajhee, @xcoulon, @alexeykazakov, @mfrancisc

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugin-export-overlays repo.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/
#
# The list is alphabetical ordered.
# In VS code: select the lines and select ">Sort Lines Ascending" from the Commands menu.

*                                                                       @davidfestal @gashcrumb @kadel
/workspaces/3scale                                                      @04kash @AndrienkoAleksandr
/workspaces/acr                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/adoption-insights                                           @rohitkrai03 @karthikjeeyar 
/workspaces/ai-integrations                                             @johnmcollier @gabemontero @rohitkrai03 @karthikjeeyar @eswaraiahsapram @lucifergene
/workspaces/analytics/plugins/analytics-provider-segment                @AndrienkoAleksandr @PatAKnight @dzemanov
/workspaces/bulk-import                                                 @christoph-jerolimov @debsmita1 @rm3l
/workspaces/global-floating-action-button                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/global-header                                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/homepage                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/jfrog-artifactory                                           @BethGriggs
/workspaces/keycloak                                                    @AndrienkoAleksandr @schultzp2020 @dzemanov
/workspaces/lightspeed                                                  @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/marketplace                                                 @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/nexus-repository-manager                                    @schultzp2020
/workspaces/npm                                                         @christoph-jerolimov @ciiay @karthikjeeyar
/workspaces/ocm                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/odo                                                         @rm3l
/workspaces/openshift-image-registry                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/orchestrator                                                @batzionb @mareklibra @gciavarrini
/workspaces/pingidentity                                                @jessicajhee
/workspaces/rbac                                                        @AndrienkoAleksandr @christoph-jerolimov @divyanshiGupta @PatAKnight @dzemanov
/workspaces/redhat-resource-optimization                                @christoph-jerolimov
/workspaces/sandbox                                                     @lucifergene @rohitkrai03 @karthikjeeyar @xcoulon @alexeykazakov @mfrancisc
/workspaces/scaffolder-backend-module-annotator                         @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-kubernetes                        @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-regex                             @04kash
/workspaces/scaffolder-backend-module-servicenow                        @schultzp2020
/workspaces/scaffolder-backend-module-sonarqube                         @04kash @schultzp2020
/workspaces/scaffolder-relation-processor                               @04kash
/workspaces/theme                                                       @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/topology                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff

Update source.json with version 1.36.1
  workspaces/sonarqube/source.json
Owners: @davidfestal, @gashcrumb, @kadel

Add some debugging
  .github/workflows/create-release-branch.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Fix the `create-release-branch` workflow
  .github/workflows/create-release-branch.yaml
  downstream-plugins
Owners: @davidfestal, @gashcrumb, @kadel

chore: re-add the header with comments; comment out plugins in the list for which we don't have wrappers and therefore are not yet in RHDH
  downstream-plugins
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Remove incompatible workspaces when creating branch release-1.6.
  workspaces/announcements/plugins-list.yaml
  workspaces/announcements/plugins/announcements/overlay/src/index.ts
  workspaces/announcements/source.json
  workspaces/apiconnect/plugins-list.yaml
  workspaces/apiconnect/source.json
  workspaces/gitlab/packages/gitlab-backend/overlay/src/bundle.ts
  workspaces/gitlab/packages/gitlab-backend/overlay/src/index.ts
  workspaces/gitlab/plugins-list.yaml
  workspaces/gitlab/source.json
  workspaces/lightspeed/plugins-list.yaml
  workspaces/lightspeed/source.json
  workspaces/openshift-image-registry/plugins-list.yaml
  workspaces/openshift-image-registry/source.json
  workspaces/pagerduty-backend/patch
  workspaces/pagerduty-backend/plugins-list.yaml
  workspaces/pagerduty-backend/source.json
  workspaces/pagerduty-frontend/patch
  workspaces/pagerduty-frontend/plugins-list.yaml
  workspaces/pagerduty-frontend/source.json
  workspaces/roadie-backstage-plugins/patch
  workspaces/roadie-backstage-plugins/plugins-list.yaml
  workspaces/roadie-backstage-plugins/source.json
  workspaces/scaffolder-backend-module-azure-repositories/plugins-list.yaml
  workspaces/scaffolder-backend-module-azure-repositories/source.json
Owners: @davidfestal, @gashcrumb, @kadel, @karthikjeeyar, @yangcao77, @rohitkrai03, @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

test
  .github/workflows/check-backstage-compatibility.yaml
  .github/workflows/export-workspaces-as-dynamic.yaml
  .github/workflows/pr-actions.yaml
  .github/workflows/publish-release-branch-workspace-plugins.yaml
  .github/workflows/update-plugins-repo-refs.yaml
  versions.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Create backstage.json
  workspaces/lightspeed/backstage.json
Owners: @karthikjeeyar, @yangcao77, @rohitkrai03

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

test
  .github/workflows/check-backstage-compatibility.yaml
  .github/workflows/export-workspaces-as-dynamic.yaml
  .github/workflows/pr-actions.yaml
  .github/workflows/publish-release-branch-workspace-plugins.yaml
  .github/workflows/update-plugins-repo-refs.yaml
  versions.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Use @janus-idp/cli 3.6.1
  .github/workflows/export-workspaces-as-dynamic.yaml
  versions.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Comment the deprecated stack-overflow backend plugin
  workspaces/stack-overflow/plugins-list.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Update versions.json to fix a syntax error
  versions.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

test
  .github/workflows/check-backstage-compatibility.yaml
  .github/workflows/create-release-branch.yaml
  .github/workflows/export-workspaces-as-dynamic.yaml
  .github/workflows/pr-actions.yaml
  .github/workflows/publish-release-branch-workspace-plugins.yaml
  .github/workflows/update-plugins-repo-refs.yaml
Owners: @davidfestal, @gashcrumb, @kadel

TEST
  .github/workflows/check-backstage-compatibility.yaml
  .github/workflows/create-release-branch.yaml
  .github/workflows/export-workspaces-as-dynamic.yaml
  .github/workflows/pr-actions.yaml
  .github/workflows/publish-release-branch-workspace-plugins.yaml
  .github/workflows/update-plugins-repo-refs.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel
