Repository redhat-developer/rhdh-plugin-export-overlays, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidfestal, @gashcrumb, @kadel, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff, @rohitkrai03, @karthikjeeyar, @johnmcollier, @gabemontero, @eswaraiahsapram, @lucifergene, @PatAKnight, @dzemanov, @rm3l, @BethGriggs, @schultzp2020, @yangcao77, @batzionb, @mareklibra, @gciavarrini, @jessicajhee, @xcoulon, @alexeykazakov, @mfrancisc

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugin-export-overlays repo.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/
#
# The list is alphabetical ordered.
# In VS code: select the lines and select ">Sort Lines Ascending" from the Commands menu.

*                                                                       @davidfestal @gashcrumb @kadel
/workspaces/3scale                                                      @04kash @AndrienkoAleksandr
/workspaces/acr                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/adoption-insights                                           @rohitkrai03 @karthikjeeyar 
/workspaces/ai-integrations                                             @johnmcollier @gabemontero @rohitkrai03 @karthikjeeyar @eswaraiahsapram @lucifergene
/workspaces/analytics/plugins/analytics-provider-segment                @AndrienkoAleksandr @PatAKnight @dzemanov
/workspaces/bulk-import                                                 @christoph-jerolimov @debsmita1 @rm3l
/workspaces/global-floating-action-button                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/global-header                                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/homepage                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/jfrog-artifactory                                           @BethGriggs
/workspaces/keycloak                                                    @AndrienkoAleksandr @schultzp2020 @dzemanov
/workspaces/lightspeed                                                  @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/marketplace                                                 @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/nexus-repository-manager                                    @schultzp2020
/workspaces/npm                                                         @christoph-jerolimov @ciiay @karthikjeeyar
/workspaces/ocm                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/odo                                                         @rm3l
/workspaces/openshift-image-registry                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/orchestrator                                                @batzionb @mareklibra @gciavarrini
/workspaces/pingidentity                                                @jessicajhee
/workspaces/rbac                                                        @AndrienkoAleksandr @christoph-jerolimov @divyanshiGupta @PatAKnight @dzemanov
/workspaces/redhat-resource-optimization                                @christoph-jerolimov
/workspaces/sandbox                                                     @lucifergene @rohitkrai03 @karthikjeeyar @xcoulon @alexeykazakov @mfrancisc
/workspaces/scaffolder-backend-module-annotator                         @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-kubernetes                        @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-regex                             @04kash
/workspaces/scaffolder-backend-module-servicenow                        @schultzp2020
/workspaces/scaffolder-backend-module-sonarqube                         @04kash @schultzp2020
/workspaces/scaffolder-relation-processor                               @04kash
/workspaces/theme                                                       @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/topology                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update ACS workspace to latest backstage/community-plugins reference
  workspaces/acs/source.json
Owners: @davidfestal, @gashcrumb, @kadel

TEST
  .github/workflows/check-backstage-compatibility.yaml
  .github/workflows/create-release-branch.yaml
  .github/workflows/export-workspaces-as-dynamic.yaml
  .github/workflows/pr-actions.yaml
  .github/workflows/publish-release-branch-workspace-plugins.yaml
  .github/workflows/update-plugins-repo-refs.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Create dynamic-plugins.test.yaml
  workspaces/acr/tests/dynamic-plugins.test.yaml
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff

Create global app-config.test.yaml
  tests/app-config.test.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Create workspace scoped app-config.test.yaml
  workspaces/acr/tests/app-config.test.yaml
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff

Update app-config.test.yaml
  tests/app-config.test.yaml
Owners: @davidfestal, @gashcrumb, @kadel

remove orchestrator backstage override
  workspaces/orchestrator/backstage.json
Owners: @batzionb, @mareklibra, @gciavarrini

Implement metadata generation script and create initial metadata.yaml for 3scale plugin
  generate_metadata.py
  workspaces/3scale/metadata.yaml
Owners: @davidfestal, @gashcrumb, @kadel, @04kash, @AndrienkoAleksandr

Create test.md
  workspaces/pagerduty-backend/overlay/test.md
Owners: @davidfestal, @gashcrumb, @kadel
