Repository redhat-developer/rhdh-plugin-export-overlays, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidfestal, @gashcrumb, @kadel, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff, @rohitkrai03, @karthikjeeyar, @johnmcollier, @gabemontero, @eswaraiahsapram, @lucifergene, @PatAKnight, @dzemanov, @rm3l, @BethGriggs, @schultzp2020, @yangcao77, @batzionb, @mareklibra, @gciavarrini, @jessicajhee, @xcoulon, @alexeykazakov, @mfrancisc

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugin-export-overlays repo.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/
#
# The list is alphabetical ordered.
# In VS code: select the lines and select ">Sort Lines Ascending" from the Commands menu.

*                                                                       @davidfestal @gashcrumb @kadel
/workspaces/3scale                                                      @04kash @AndrienkoAleksandr
/workspaces/acr                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/adoption-insights                                           @rohitkrai03 @karthikjeeyar 
/workspaces/ai-integrations                                             @johnmcollier @gabemontero @rohitkrai03 @karthikjeeyar @eswaraiahsapram @lucifergene
/workspaces/analytics/plugins/analytics-provider-segment                @AndrienkoAleksandr @PatAKnight @dzemanov
/workspaces/bulk-import                                                 @christoph-jerolimov @debsmita1 @rm3l
/workspaces/global-floating-action-button                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/global-header                                               @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/homepage                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/jfrog-artifactory                                           @BethGriggs
/workspaces/keycloak                                                    @AndrienkoAleksandr @schultzp2020 @dzemanov
/workspaces/lightspeed                                                  @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/marketplace                                                 @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/nexus-repository-manager                                    @schultzp2020
/workspaces/npm                                                         @christoph-jerolimov @ciiay @karthikjeeyar
/workspaces/ocm                                                         @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff
/workspaces/odo                                                         @rm3l
/workspaces/openshift-image-registry                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/orchestrator                                                @batzionb @mareklibra @gciavarrini
/workspaces/pingidentity                                                @jessicajhee
/workspaces/rbac                                                        @AndrienkoAleksandr @christoph-jerolimov @divyanshiGupta @PatAKnight @dzemanov
/workspaces/redhat-resource-optimization                                @christoph-jerolimov
/workspaces/sandbox                                                     @lucifergene @rohitkrai03 @karthikjeeyar @xcoulon @alexeykazakov @mfrancisc
/workspaces/scaffolder-backend-module-annotator                         @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-kubernetes                        @BethGriggs @debsmita1
/workspaces/scaffolder-backend-module-regex                             @04kash
/workspaces/scaffolder-backend-module-servicenow                        @schultzp2020
/workspaces/scaffolder-backend-module-sonarqube                         @04kash @schultzp2020
/workspaces/scaffolder-relation-processor                               @04kash
/workspaces/theme                                                       @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/topology                                                    @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff

remove icon.ts in favor of overriding the index.ts file
  workspaces/tech-radar/plugins/tech-radar/overlay/src/index.ts
Owners: @davidfestal, @gashcrumb, @kadel

fix(tech-radar): update mui dep to material-ui dep
  workspaces/tech-radar/plugins/tech-radar/overlay/src/index.ts
Owners: @davidfestal, @gashcrumb, @kadel

fix(tech-radar): add missing exports from tech-radar plugin
  workspaces/tech-radar/plugins/tech-radar/overlay/src/index.ts
Owners: @davidfestal, @gashcrumb, @kadel

Export lighthouse icon
  workspaces/lighthouse/plugins/lighthouse/overlay/src/index.ts
Owners: @davidfestal, @gashcrumb, @kadel

Fix mui import
  workspaces/lighthouse/plugins/lighthouse/overlay/src/index.ts
Owners: @davidfestal, @gashcrumb, @kadel

fix(analytics): export some API factories
  workspaces/analytics/plugins/analytics-module-ga/app-config.dynamic.yaml
  workspaces/analytics/plugins/analytics-module-ga/overlay/src/api.ts
  workspaces/analytics/plugins/analytics-module-ga/scalprum-config.json
  workspaces/analytics/plugins/analytics-module-ga4/app-config.dynamic.yaml
  workspaces/analytics/plugins/analytics-module-ga4/overlay/src/api.ts
  workspaces/analytics/plugins/analytics-module-ga4/scalprum-config.json
  workspaces/analytics/plugins/analytics-module-newrelic-browser/app-config.dynamic.yaml
  workspaces/analytics/plugins/analytics-module-newrelic-browser/overlay/src/api.ts
  workspaces/analytics/plugins/analytics-module-newrelic-browser/scalprum-config.json
Owners: @davidfestal, @gashcrumb, @kadel

fix(analytics): fix imports
  workspaces/analytics/plugins/analytics-module-ga4/overlay/src/api.ts
  workspaces/analytics/plugins/analytics-module-newrelic-browser/overlay/src/api.ts
Owners: @davidfestal, @gashcrumb, @kadel

fix(analytics): fix imports
  workspaces/analytics/plugins/analytics-module-ga4/overlay/src/api.ts
  workspaces/analytics/plugins/analytics-module-newrelic-browser/overlay/src/api.ts
Owners: @davidfestal, @gashcrumb, @kadel

feat: added announcement plugin
  workspaces/announcements/plugins-list.yaml
  workspaces/announcements/plugins/announcements/overlay/src/index.ts
  workspaces/announcements/source.json
Owners: @davidfestal, @gashcrumb, @kadel

adoption insights: bump to the latest commit
  workspaces/adoption-insights/source.json
Owners: @rohitkrai03, @karthikjeeyar

Add `acr` workspace to commit `fdd9742` for backstage `1.35.0` on branch `release-1.5`
  workspaces/acr/source.json
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @its-mitesh-kumar, @logonoff

feat: added feedback plugin
  workspaces/feedback/plugins-list.yaml
  workspaces/feedback/source.json
Owners: @davidfestal, @gashcrumb, @kadel

Update source.json to test backstage version consistency checks
  workspaces/pagerduty-frontend/source.json
Owners: @davidfestal, @gashcrumb, @kadel

Create backstage.json
  workspaces/pagerduty-frontend/backstage.json
Owners: @davidfestal, @gashcrumb, @kadel

Create incompatible-workspaces.json
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @davidfestal, @gashcrumb, @kadel

temporarily remove sonarqube
  downstream-plugins
Owners: @davidfestal, @gashcrumb, @kadel

quick fix
  .github/workflows/create-release-branch.yaml
Owners: @davidfestal, @gashcrumb, @kadel

Bring back sonarqube as a downstreamed plugin
  downstream-plugins
Owners: @davidfestal, @gashcrumb, @kadel

Override backstage.json to `1.36.1`
  workspaces/sonarqube/backstage.json
Owners: @davidfestal, @gashcrumb, @kadel
