Repository redhat-developer/rhdh-plugin-export-overlays, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel, @redhat-developer/rhdh-plugins, @AndrienkoAleksandr, @redhat-developer/rhdh-ui, @rohitkrai03, @karthikjeeyar, @eswaraiahsapram, @lucifergene, @johnmcollier, @gabemontero, @PatAKnight, @dzemanov, @rm3l, @debsmita1, @its-mitesh-kumar, @christoph-jerolimov, @divyanshiGupta, @ciiay, @BethGriggs, @yangcao77, @jessicajhee, @batzionb, @mareklibra, @gciavarrini, @caugello, @cryptorodeo, @xcoulon, @alexeykazakov, @mfrancisc, @imykhno, @logonoff

Add a yarn.lock patch
  workspaces/roadie-backstage-plugins/patches/1-avoid-double-wildcards.patch
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Override backstage version compatibility to `1.42.5`
  workspaces/roadie-backstage-plugins/backstage.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update Backstage version to `1.42.5` according to the new override
  workspaces/roadie-backstage-plugins/source.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Avoid double wildcards in package.json
  workspaces/roadie-backstage-plugins/patches/1-avoid-double-wildcards.patch
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

chore(main): use empty image-tag-prefix so that we will prepend bs_1.yy.z__ instead of next__ when calling the export-workspaces-as-dynamic.yaml script from plugin-export-utils
  .github/workflows/publish-release-branch-workspace-plugins.yaml
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Better patch
  workspaces/roadie-backstage-plugins/patches/1-avoid-double-wildcards.patch
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Change workflow reference to debug-yarn-install
  .github/workflows/export-workspaces-as-dynamic.yaml
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Update badge metadata about incompatible workspaces
  incompatible-workspaces.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

fix(ai-integrations): update ai-integrations workspace to commit bed2466 for backstage 1.42.5 on branch release-1.8
  workspaces/ai-integrations/source.json
Owners: @redhat-developer/rhdh-ui, @rohitkrai03, @karthikjeeyar, @lucifergene, @johnmcollier, @gabemontero

fix(ai-integrations): update ai-integrations workspace to commit bed2466 for backstage 1.42.5 on branch release-1.8
  workspaces/ai-integrations/source.json
Owners: @redhat-developer/rhdh-ui, @rohitkrai03, @karthikjeeyar, @lucifergene, @johnmcollier, @gabemontero

update `mcp-integrations` to commit `5d78911` to backstage 1.42.5 on branch `release-1.8`
  workspaces/mcp-integrations/source.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Bump scorecard workspace
  workspaces/scorecard/source.json
Owners: @redhat-developer/rhdh-plugins, @redhat-developer/rhdh-ui, @dzemanov, @eswaraiahsapram, @imykhno

Update lightspeed commit to 64becf4d46e938b56404acc66106ca271413cc59
  workspaces/lightspeed/source.json
Owners: @redhat-developer/rhdh-ui, @karthikjeeyar, @rohitkrai03, @yangcao77

Test 1.8.0-rc.2 tag
  workspaces/orchestrator/source.json
Owners: @batzionb, @mareklibra, @gciavarrini

feat(env-viewer): update
  workspaces/env-viewer/source.json
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

orchestrator-1.8.1
  workspaces/orchestrator/source.json
Owners: @batzionb, @mareklibra, @gciavarrini

orchestrator-1.8.2
  workspaces/orchestrator/source.json
Owners: @batzionb, @mareklibra, @gciavarrini

feat: Playwright e2e test framework setup in Overlay repo
  .gitignore
  .husky/pre-commit
  .yarn/install-state.gz
  .yarn/releases/yarn-3.8.7.cjs
  .yarnrc.yml
  e2e-test-utils/generate-projects.ts
  e2e-test-utils/run-plugin-tests.ts
  eslint.config.js
  package.json
  playwright.config.ts
  tsconfig.json
  workspaces/github-issues/e2e-tests/.env.example
  workspaces/github-issues/e2e-tests/config/app-config-rhdh.yaml
  workspaces/github-issues/e2e-tests/config/dynamic-plugins.yaml
  workspaces/github-issues/e2e-tests/config/rhdh-secrets.yaml
  workspaces/github-issues/e2e-tests/specs/github-issues.spec.ts
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel, @redhat-developer/rhdh-ui, @divyanshiGupta

updated support link titles for plugins catalog entities
  catalog-entities/marketplace/plugins/adoption-insights.yaml
  catalog-entities/marketplace/plugins/bulk-import.yaml
  catalog-entities/marketplace/plugins/extensions.yaml
  catalog-entities/marketplace/plugins/global-floating-action-button.yaml
  catalog-entities/marketplace/plugins/global-header.yaml
  catalog-entities/marketplace/plugins/home-page.yaml
  catalog-entities/marketplace/plugins/quickstart.yaml
  catalog-entities/marketplace/plugins/scorecard.yaml
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

chore(marketplace): update readme
  catalog-entities/marketplace/README.md
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

Ben says we can remove the sheet link entirely
  catalog-entities/marketplace/README.md
Owners: @redhat-developer/rhdh-cope, @gashcrumb, @kadel

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugin-export-overlays repo.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/
#
# One or multiple RHDH teams or (external) individuals are responsible to package a plugin.
# Related frontend and backend plugins, or modules, are mostly grouped here in workspaces.
# 
# In some cases individuals from a team are mentioned as 'point of contact' behind a team.
#
# External or other maintainers are mentioned explicitely and seperated with three spaces.
#
# The workspace list is alphabetical ordered.
# In VS code: select the lines and select ">Sort Lines Ascending" from the Commands menu.

*                                                                       @redhat-developer/rhdh-cope @gashcrumb @kadel

/workspaces/3scale                                                      @redhat-developer/rhdh-plugins @AndrienkoAleksandr
/workspaces/acr                                                         @redhat-developer/rhdh-ui
# /workspaces/acs
/workspaces/adoption-insights                                           @redhat-developer/rhdh-ui @rohitkrai03 @karthikjeeyar @eswaraiahsapram
/workspaces/ai-integrations                                             @redhat-developer/rhdh-ui @rohitkrai03 @karthikjeeyar @lucifergene   @johnmcollier @gabemontero
/workspaces/analytics                                                   @redhat-developer/rhdh-plugins   @redhat-developer/rhdh-ui
/workspaces/analytics/plugins/analytics-provider-segment                @redhat-developer/rhdh-ui   @AndrienkoAleksandr @PatAKnight @dzemanov
/workspaces/announcements                                               @redhat-developer/rhdh-plugins
# /workspaces/apiconnect
# /workspaces/azure-devops
/workspaces/backstage                                                   @redhat-developer/rhdh-cope
/workspaces/bulk-import                                                 @redhat-developer/rhdh-plugins @rm3l   @redhat-developer/rhdh-ui @debsmita1 @its-mitesh-kumar
/workspaces/config-viewer                                               @redhat-developer/rhdh-ui @christoph-jerolimov
# /workspaces/dynatrace
# /workspaces/dynatrace-dql
# /workspaces/github-actions
/workspaces/github-issues                                               @redhat-developer/rhdh-ui @divyanshiGupta
/workspaces/github-notifications                                        @redhat-developer/rhdh-ui @christoph-jerolimov
# /workspaces/gitlab
/workspaces/global-floating-action-button                               @redhat-developer/rhdh-ui @debsmita1 @divyanshiGupta
/workspaces/global-header                                               @redhat-developer/rhdh-ui @ciiay @divyanshiGupta
/workspaces/homepage                                                    @redhat-developer/rhdh-ui @eswaraiahsapram
# /workspaces/jenkins
/workspaces/jfrog-artifactory                                           @redhat-developer/rhdh-ui @its-mitesh-kumar   @BethGriggs
/workspaces/keycloak                                                    @redhat-developer/rhdh-plugins @AndrienkoAleksandr @dzemanov
# /workspaces/kiali
# /workspaces/lighthouse
/workspaces/lightspeed                                                  @redhat-developer/rhdh-ui @karthikjeeyar @rohitkrai03   @yangcao77
/workspaces/marketplace                                                 @redhat-developer/rhdh-ui @redhat-developer/rhdh-plugins
/workspaces/nexus-repository-manager                                    @redhat-developer/rhdh-ui @debsmita1 @ciiay   @jessicajhee
/workspaces/npm                                                         @redhat-developer/rhdh-ui @christoph-jerolimov
/workspaces/ocm                                                         @redhat-developer/rhdh-plugins   @redhat-developer/rhdh-ui
/workspaces/odo                                                         @rm3l
/workspaces/openshift-image-registry                                    @redhat-developer/rhdh-ui @divyanshiGupta @its-mitesh-kumar
/workspaces/orchestrator                                                @batzionb @mareklibra @gciavarrini
# /workspaces/pagerduty-backend
# /workspaces/pagerduty-frontend
/workspaces/pingidentity                                                @redhat-developer/rhdh-plugins @jessicajhee
/workspaces/quay                                                        @caugello @cryptorodeo
/workspaces/quay/plugins/quay-actions                                   @redhat-developer/rhdh-plugins
/workspaces/quickstart                                                  @redhat-developer/rhdh-ui @divyanshiGupta @its-mitesh-kumar
/workspaces/rbac                                                        @redhat-developer/rhdh-plugins @PatAKnight @dzemanov @AndrienkoAleksandr   @redhat-developer/rhdh-ui @divyanshiGupta @its-mitesh-kumar
/workspaces/redhat-argocd                                               @caugello @cryptorodeo
# /workspaces/roadie-backstage-plugins
/workspaces/sandbox                                                     @lucifergene @rohitkrai03 @karthikjeeyar @xcoulon @alexeykazakov @mfrancisc
/workspaces/scaffolder-backend-module-annotator                         @redhat-developer/rhdh-plugins
# /workspaces/scaffolder-backend-module-azure-repositories
/workspaces/scaffolder-backend-module-kubernetes                        @redhat-developer/rhdh-plugins
/workspaces/scaffolder-backend-module-regex                             @redhat-developer/rhdh-plugins
/workspaces/scaffolder-backend-module-servicenow                        @redhat-developer/rhdh-plugins @AndrienkoAleksandr
/workspaces/scaffolder-backend-module-sonarqube                         @redhat-developer/rhdh-plugins
/workspaces/scaffolder-relation-processor                               @redhat-developer/rhdh-plugins
/workspaces/servicenow                                                  @redhat-developer/rhdh-plugins @AndrienkoAleksandr   @redhat-developer/rhdh-ui @ciiay
/workspaces/scorecard                                                   @redhat-developer/rhdh-plugins @redhat-developer/rhdh-ui @dzemanov @eswaraiahsapram @imykhno
# /workspaces/sonarqube
# /workspaces/tech-insights
# /workspaces/tech-radar
/workspaces/tekton                                                      @caugello @cryptorodeo
/workspaces/theme                                                       @redhat-developer/rhdh-ui @ciiay   @logonoff
# /workspaces/todo
/workspaces/topology                                                    @redhat-developer/rhdh-ui
